@charset "UTF-8";
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
.wrapper {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Myriad, Helvetica, Arial, sans-serif;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 5, ../sass/_base.scss */
.wrapper * {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/_layout.scss */
.wrapper {
  min-width: 960px;
}

/* line 73, ../sass/_mixin.scss */
.spr-smily-background {
  background: url('../img/smily-sd6e663594b.png?1404550232') no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: 455px, 50px;
  -moz-background-size: 455px, 50px;
  -o-background-size: 455px, 50px;
  background-size: 455px, 50px;
  display: block;
  text-indent: -9999px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0001 {
  background-position: 0 0;
  width: 50px;
  height: 50px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0002 {
  background-position: -51px 0;
  width: 50px;
  height: 50px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0003 {
  background-position: -101px 0;
  width: 50px;
  height: 50px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0004 {
  background-position: -152px 0;
  width: 50px;
  height: 50px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0005 {
  background-position: -202px 0;
  width: 50px;
  height: 50px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0006 {
  background-position: -253px 0;
  width: 50px;
  height: 50px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0007 {
  background-position: -303px 0;
  width: 50px;
  height: 50px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0008 {
  background-position: -354px 0;
  width: 50px;
  height: 50px;
}

/* line 82, ../sass/_mixin.scss */
.spr-smily-background.smily0009 {
  background-position: -404px 0;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes spr-smily-background-anim {
  /* line 94, ../sass/_mixin.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 95, ../sass/_mixin.scss */
  100% {
    background-position: -455px 0px;
  }
}

@-moz-keyframes spr-smily-background-anim {
  /* line 94, ../sass/_mixin.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 95, ../sass/_mixin.scss */
  100% {
    background-position: -455px 0px;
  }
}

@-o-keyframes spr-smily-background-anim {
  /* line 94, ../sass/_mixin.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 95, ../sass/_mixin.scss */
  100% {
    background-position: -455px 0px;
  }
}

@keyframes spr-smily-background-anim {
  /* line 94, ../sass/_mixin.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 95, ../sass/_mixin.scss */
  100% {
    background-position: -455px 0px;
  }
}

/* line 97, ../sass/_mixin.scss */
.spr-smily-background.anim {
  width: 50px;
  height: 50px;
  -webkit-animation: spr-smily-background-anim 1s steps(9, end) 0s infinite;
  -moz-animation: spr-smily-background-anim 1s steps(9, end) 0s infinite;
  -o-animation: spr-smily-background-anim 1s steps(9, end) 0s infinite;
  animation: spr-smily-background-anim 1s steps(9, end) 0s infinite;
}

/* line 160, ../sass/_mixin.scss */
.spr-smily-dummy {
  display: block;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0001 {
  background: url('../img/smily/smily0001.png?1404489911');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0002 {
  background: url('../img/smily/smily0002.png?1404489911');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0003 {
  background: url('../img/smily/smily0003.png?1404489911');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0004 {
  background: url('../img/smily/smily0004.png?1404489911');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0005 {
  background: url('../img/smily/smily0005.png?1404489911');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0006 {
  background: url('../img/smily/smily0006.png?1404489912');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0007 {
  background: url('../img/smily/smily0007.png?1404489912');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0008 {
  background: url('../img/smily/smily0008.png?1404489912');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

/* line 166, ../sass/_mixin.scss */
.spr-smily-dummy.smily0009 {
  background: url('../img/smily/smily0009.png?1404489912');
  -webkit-background-size: 50px, 50px;
  -moz-background-size: 50px, 50px;
  -o-background-size: 50px, 50px;
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

@-webkit-keyframes spr-smily-dummy-anim {
  /* line 179, ../sass/_mixin.scss */
  0% {
    background: url('../img/smily/smily0001.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  11.11101% {
    background: url('../img/smily/smily0001.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  11.11111% {
    background: url('../img/smily/smily0002.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  22.22212% {
    background: url('../img/smily/smily0002.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  22.22222% {
    background: url('../img/smily/smily0003.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  33.33323% {
    background: url('../img/smily/smily0003.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  33.33333% {
    background: url('../img/smily/smily0004.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  44.44434% {
    background: url('../img/smily/smily0004.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  44.44444% {
    background: url('../img/smily/smily0005.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  55.55546% {
    background: url('../img/smily/smily0005.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  55.55556% {
    background: url('../img/smily/smily0006.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  66.66657% {
    background: url('../img/smily/smily0006.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  66.66667% {
    background: url('../img/smily/smily0007.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  77.77768% {
    background: url('../img/smily/smily0007.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  77.77778% {
    background: url('../img/smily/smily0008.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  88.88879% {
    background: url('../img/smily/smily0008.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  88.88889% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  99.9999% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 187, ../sass/_mixin.scss */
  100% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }
}

@-moz-keyframes spr-smily-dummy-anim {
  /* line 179, ../sass/_mixin.scss */
  0% {
    background: url('../img/smily/smily0001.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  11.11101% {
    background: url('../img/smily/smily0001.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  11.11111% {
    background: url('../img/smily/smily0002.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  22.22212% {
    background: url('../img/smily/smily0002.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  22.22222% {
    background: url('../img/smily/smily0003.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  33.33323% {
    background: url('../img/smily/smily0003.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  33.33333% {
    background: url('../img/smily/smily0004.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  44.44434% {
    background: url('../img/smily/smily0004.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  44.44444% {
    background: url('../img/smily/smily0005.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  55.55546% {
    background: url('../img/smily/smily0005.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  55.55556% {
    background: url('../img/smily/smily0006.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  66.66657% {
    background: url('../img/smily/smily0006.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  66.66667% {
    background: url('../img/smily/smily0007.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  77.77768% {
    background: url('../img/smily/smily0007.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  77.77778% {
    background: url('../img/smily/smily0008.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  88.88879% {
    background: url('../img/smily/smily0008.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  88.88889% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  99.9999% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 187, ../sass/_mixin.scss */
  100% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }
}

@-o-keyframes spr-smily-dummy-anim {
  /* line 179, ../sass/_mixin.scss */
  0% {
    background: url('../img/smily/smily0001.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  11.11101% {
    background: url('../img/smily/smily0001.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  11.11111% {
    background: url('../img/smily/smily0002.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  22.22212% {
    background: url('../img/smily/smily0002.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  22.22222% {
    background: url('../img/smily/smily0003.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  33.33323% {
    background: url('../img/smily/smily0003.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  33.33333% {
    background: url('../img/smily/smily0004.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  44.44434% {
    background: url('../img/smily/smily0004.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  44.44444% {
    background: url('../img/smily/smily0005.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  55.55546% {
    background: url('../img/smily/smily0005.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  55.55556% {
    background: url('../img/smily/smily0006.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  66.66657% {
    background: url('../img/smily/smily0006.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  66.66667% {
    background: url('../img/smily/smily0007.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  77.77768% {
    background: url('../img/smily/smily0007.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  77.77778% {
    background: url('../img/smily/smily0008.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  88.88879% {
    background: url('../img/smily/smily0008.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  88.88889% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  99.9999% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 187, ../sass/_mixin.scss */
  100% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }
}

@keyframes spr-smily-dummy-anim {
  /* line 179, ../sass/_mixin.scss */
  0% {
    background: url('../img/smily/smily0001.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  11.11101% {
    background: url('../img/smily/smily0001.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  11.11111% {
    background: url('../img/smily/smily0002.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  22.22212% {
    background: url('../img/smily/smily0002.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  22.22222% {
    background: url('../img/smily/smily0003.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  33.33323% {
    background: url('../img/smily/smily0003.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  33.33333% {
    background: url('../img/smily/smily0004.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  44.44434% {
    background: url('../img/smily/smily0004.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  44.44444% {
    background: url('../img/smily/smily0005.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  55.55546% {
    background: url('../img/smily/smily0005.png?1404489911');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  55.55556% {
    background: url('../img/smily/smily0006.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  66.66657% {
    background: url('../img/smily/smily0006.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  66.66667% {
    background: url('../img/smily/smily0007.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  77.77768% {
    background: url('../img/smily/smily0007.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  77.77778% {
    background: url('../img/smily/smily0008.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  88.88879% {
    background: url('../img/smily/smily0008.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 179, ../sass/_mixin.scss */
  88.88889% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 182, ../sass/_mixin.scss */
  99.9999% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }

  /* line 187, ../sass/_mixin.scss */
  100% {
    background: url('../img/smily/smily0009.png?1404489912');
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }
}

/* line 191, ../sass/_mixin.scss */
.spr-smily-dummy.anim {
  width: 50px;
  height: 50px;
  -webkit-animation: spr-smily-dummy-anim 1s linear 0s infinite;
  -moz-animation: spr-smily-dummy-anim 1s linear 0s infinite;
  -o-animation: spr-smily-dummy-anim 1s linear 0s infinite;
  animation: spr-smily-dummy-anim 1s linear 0s infinite;
}

/* line 110, ../sass/_mixin.scss */
.spr-smily-translate {
  overflow: hidden;
  width: 0;
  height: 0;
}
/* line 114, ../sass/_mixin.scss */
.spr-smily-translate:before {
  content: "";
  background: url('../img/smily-sd6e663594b.png?1404550232') no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: 455px, 50px;
  -moz-background-size: 455px, 50px;
  -o-background-size: 455px, 50px;
  background-size: 455px, 50px;
  display: block;
  text-indent: -9999px;
  width: 455px;
  height: 50px;
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0001 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0001:before {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0002 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0002:before {
  -webkit-transform: translate(-51px, 0);
  -moz-transform: translate(-51px, 0);
  -ms-transform: translate(-51px, 0);
  -o-transform: translate(-51px, 0);
  transform: translate(-51px, 0);
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0003 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0003:before {
  -webkit-transform: translate(-101px, 0);
  -moz-transform: translate(-101px, 0);
  -ms-transform: translate(-101px, 0);
  -o-transform: translate(-101px, 0);
  transform: translate(-101px, 0);
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0004 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0004:before {
  -webkit-transform: translate(-152px, 0);
  -moz-transform: translate(-152px, 0);
  -ms-transform: translate(-152px, 0);
  -o-transform: translate(-152px, 0);
  transform: translate(-152px, 0);
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0005 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0005:before {
  -webkit-transform: translate(-202px, 0);
  -moz-transform: translate(-202px, 0);
  -ms-transform: translate(-202px, 0);
  -o-transform: translate(-202px, 0);
  transform: translate(-202px, 0);
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0006 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0006:before {
  -webkit-transform: translate(-253px, 0);
  -moz-transform: translate(-253px, 0);
  -ms-transform: translate(-253px, 0);
  -o-transform: translate(-253px, 0);
  transform: translate(-253px, 0);
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0007 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0007:before {
  -webkit-transform: translate(-303px, 0);
  -moz-transform: translate(-303px, 0);
  -ms-transform: translate(-303px, 0);
  -o-transform: translate(-303px, 0);
  transform: translate(-303px, 0);
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0008 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0008:before {
  -webkit-transform: translate(-354px, 0);
  -moz-transform: translate(-354px, 0);
  -ms-transform: translate(-354px, 0);
  -o-transform: translate(-354px, 0);
  transform: translate(-354px, 0);
}

/* line 129, ../sass/_mixin.scss */
.spr-smily-translate.smily0009 {
  width: 50px;
  height: 50px;
}
/* line 133, ../sass/_mixin.scss */
.spr-smily-translate.smily0009:before {
  -webkit-transform: translate(-404px, 0);
  -moz-transform: translate(-404px, 0);
  -ms-transform: translate(-404px, 0);
  -o-transform: translate(-404px, 0);
  transform: translate(-404px, 0);
}

@-webkit-keyframes spr-smily-translate-anim {
  /* line 146, ../sass/_mixin.scss */
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 147, ../sass/_mixin.scss */
  100% {
    -webkit-transform: translateX(-455px);
    -moz-transform: translateX(-455px);
    -ms-transform: translateX(-455px);
    -o-transform: translateX(-455px);
    transform: translateX(-455px);
  }
}

@-moz-keyframes spr-smily-translate-anim {
  /* line 146, ../sass/_mixin.scss */
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 147, ../sass/_mixin.scss */
  100% {
    -webkit-transform: translateX(-455px);
    -moz-transform: translateX(-455px);
    -ms-transform: translateX(-455px);
    -o-transform: translateX(-455px);
    transform: translateX(-455px);
  }
}

@-o-keyframes spr-smily-translate-anim {
  /* line 146, ../sass/_mixin.scss */
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 147, ../sass/_mixin.scss */
  100% {
    -webkit-transform: translateX(-455px);
    -moz-transform: translateX(-455px);
    -ms-transform: translateX(-455px);
    -o-transform: translateX(-455px);
    transform: translateX(-455px);
  }
}

@keyframes spr-smily-translate-anim {
  /* line 146, ../sass/_mixin.scss */
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 147, ../sass/_mixin.scss */
  100% {
    -webkit-transform: translateX(-455px);
    -moz-transform: translateX(-455px);
    -ms-transform: translateX(-455px);
    -o-transform: translateX(-455px);
    transform: translateX(-455px);
  }
}

/* line 149, ../sass/_mixin.scss */
.spr-smily-translate.anim {
  width: 50px;
  height: 50px;
}
/* line 152, ../sass/_mixin.scss */
.spr-smily-translate.anim:before {
  -webkit-animation: spr-smily-translate-anim 1s steps(9, end) 0s infinite;
  -moz-animation: spr-smily-translate-anim 1s steps(9, end) 0s infinite;
  -o-animation: spr-smily-translate-anim 1s steps(9, end) 0s infinite;
  animation: spr-smily-translate-anim 1s steps(9, end) 0s infinite;
}

/* line 22, ../sass/_sprite.scss */
#top {
  width: 100px;
  height: 100px;
}
